
  <h1>Add an Affiliate Campaign Bulk</h1>

<section class="main--pos shadow">
  <div class="inner">
  <%= form_for(@affiliate_campaign_bulk_buster, :html => {:multipart => true}) do |f|%>
      <% if @affiliate_campaign_bulk_buster.errors.any? %>
          <h2>Errors:</h2>
          <ul>
            <%= @affiliate_campaign_bulk_buster.errors.full_messages.each do |message| %>
                <li> <%=  puts message.first %> </li>
            <% end %>
          </ul>
      <% end %>

        <%= f.label :task_description, 'Task Name' %> <br />
        <%= f.text_field :task_description %>
        <br>
        <%= f.label :network_id, 'Network ID' %> <br />
        <%= f.text_field :network_id %>
        <br>
        <%= label_tag :api_token, 'API Token' %> <br />
        <%= text_field_tag :api_token %>
        <br>
        <%= label_tag :attachment, 'Input File' %> <br />
        <%= file_field_tag :attachment %>
        <br>
        <%= f.submit "Bust!" %>

  <% end %>
      </div>
</section>