<center>
  <h1>Add an Affiliate Campaign Bulk</h1>


  <%= form_for(@affiliate_campaign_bulk_buster, :html => {:multipart => true}) do |f|%>
      <% if @affiliate_campaign_bulk_buster.errors.any? %>
          <h2>Errors:</h2>
          <ul>
            <%= @affiliate_campaign_bulk_buster.errors.full_messages.each do |message| %>
                <li> <%=  puts message.first %> </li>
            <% end %>
          </ul>
      <% end %>
      <p>
        <%= f.label :network_id, 'Network ID' %> <br />
        <%= f.text_field :network_id %>
      </p>
      <p>
        <%= label_tag :api_token, 'API Token' %> <br />
        <%= text_field_tag :api_token %>
      </p>
      <p>
        <%= f.label :task_description, 'Task Description' %> <br />
        <%= f.text_area :task_description %>
      </p>
      <p>
        <%= label_tag :attachment, 'Input File' %> <br />
        <%= file_field_tag :attachment %>
      </p>
      <p>
        <%= f.submit "Bust!" %>
      </p>
  <% end %>
</center>