<div class="main--pos">
  <div class="hulk_header"><br>Advertiser Promo Number Bulk Buster<br><br></div>
</div>


<section class="main--pos">
  <div class="title--header">
    <p>
      <%= link_to "Add Advertiser Promo Number Bulk to Bust", new_advertiser_promo_number_bulk_buster_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Bulk Tracker", bulk_trackers_path %>
    </p>
  </div>
</section>
<br>
<% @advertiser_promo_number_bulk_busters.each do |advertiser_promo_number_bulk_buster| %>
    <section class="main--pos">
      <div class="title--header">
        <%= "#{advertiser_promo_number_bulk_buster.task_description}"  %> <span class="created_at"><%= "created at: #{advertiser_promo_number_bulk_buster.created_at.to_s[0, 16]}" %> </span>
      </div>

      <div class="indent">
        <%= link_to "results", advertiser_promo_number_bulk_buster  %> |
        <%= link_to "edit", edit_advertiser_promo_number_bulk_buster_path(advertiser_promo_number_bulk_buster) %> |
        <%= link_to "delete", advertiser_promo_number_bulk_buster, :confirm => "Are You Sure?", :method => :delete %>
        <br>

      </div>
    </section>
<% end %>
<br>
<br>

