<div class="main--pos">
  <div class="hulk_header"><br>The Advertiser Bulk Buster<br><br></div>
</div>


<section class="main--pos shadow">
  <div class="title--header">
    <p>
      <%= link_to "Add a Advertiser Bulk to Bust", new_advertiser_bulk_buster_path%>

      <%= link_to "Bulk Tracker", bulk_trackers_path %>
    </p>
  </div>
</section>
<br>


<% @advertiser_bulk_busters.each do |advertiser_bulk_busters| %>
    <section class="main--pos shadow">
      <div class="title--header">
        <%= "#{advertiser_bulk_busters.task_description}"  %> <span class="created_at"><%= "created at: #{advertiser_bulk_busters.created_at.to_s[0, 16]}" %> </span>
      </div>

      <div class="indent">
        <%= link_to "results", advertiser_bulk_busters  %> |
        <%= link_to "edit", edit_advertiser_bulk_buster_path(advertiser_bulk_busters) %> |
        <%= link_to "delete", advertiser_bulk_busters, :confirm => "Are You Sure?", :method => :delete %>
        <br>

      </div>
    </section>
<% end %>

<br>
<br>