<div class="main--pos">
  <div class="hulk_header"><br>The Campaign Bulk Buster<br><br></div>
</div>


<section class="main--pos">
  <div class="title--header">
    <p>
        <%= link_to "Add a Campaign Bulk to Bust", new_campaign_bulk_buster_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to "Bulk Tracker", bulk_trackers_path %>
    </p>
  </div>
</section>
<br>
  <% @campaign_bulk_busters.each do |campaign_bulk_buster| %>
    <section class="main--pos">
      <div class="title--header">
        <%= "#{campaign_bulk_buster.task_description}"  %> <span class="created_at"><%= "created at: #{campaign_bulk_buster.created_at.to_s[0, 16]}" %> </span>
      </div>

      <div class="indent">
      <%= link_to "results", campaign_bulk_buster  %> |
      <%= link_to "edit", edit_campaign_bulk_buster_path(campaign_bulk_buster) %> |
      <%= link_to "delete", campaign_bulk_buster, :confirm => "Are You Sure?", :method => :delete %>
        <br>

      </div>
    </section>
  <% end %>
  <br>
  <br>

