<br>
<br>
    <%= form_for(@campaign_bulk_buster, :html => {:multipart => true}) do |f|%>
        <% if @campaign_bulk_buster.errors.any? %>
              <%= @campaign_bulk_buster.errors.full_messages.each do |message| %>
                  <div class="error--header">
                    <%=message%>
                  </div>
              <% end;nil %>
        <% end;nil%>

        <section class="main--pos">
          <div class="title--header">
            1. Invoca Credentials
          </div>

          <div class="inner-credentials">
            <div class="indent">
            <div class="campaign-tile">
              <%= f.label :network_id, 'Network ID' %> <br />
              <%= f.text_field :network_id %>
            </div>
    
            <div class="campaign-tile">
              <%= label_tag :api_token, 'API Token' %> <br />
              <%= text_field_tag :api_token %>
            </div>
          </div>
              </div>
        </section>


        <section class="main--pos">
          <div class="title--header">
            2. Prototype Campaign Details
          </div>
          <div class="inner-details">
            <div class="indent">
            <div class="campaign-tile">
              <%= f.label :campaign_id_from_network_to_clone, 'Campaign Id (From Network) To Clone' %> <br />
              <%= f.text_field :campaign_id_from_network_to_clone %>
            </div>
            <div class="campaign-tile">
              <%= f.label :advertiser_id_from_network_to_clone, 'Advertiser ID (From Network) To Clone' %> <br />
              <%= f.text_field :advertiser_id_from_network_to_clone %>
            </div>
            <div class="campaign-tile">
              <%= f.label :task_description, 'Task Description' %> <br />
              <%= f.text_area :task_description %>
            </div>
          </div>
          </div>
        </section>

        <section class="main--pos">
          <div class="title--header">
            3. Input File
          </div>

          <div class="inner">
            <div class="indent">
            <span class="campaign-tile">
              <%= label_tag :attachment, 'Input File' %> <br />
              <%= file_field_tag :attachment %>
              </span>

              <span class="inner">
                 <span class="indent">
              <input align="right" type="submit" class="btn btn-simple-dark"  name="commit" value="Bust!">
                   </span>
              </span>
          </div>
          </div>
        </section>

    <% end %>

