<br/><br/>
<div class="main--pos">
  <h1><%= puts "#{@campaign_bulk_buster.task_description.upcase} Results" %></h1>
</div>


 <%= form_for(@campaign_bulk_buster, :html => {:multipart => true}) do |f|%>
    <section class="main--pos">
      <div class="title--header">
       STATS FOR  <%= "#{@campaign_bulk_buster.task_description}"%>
        <div style="font-size: 100%;">
          <%= link_to "Input File", "/uploads/campaign_bulk_#{@campaign_bulk_buster.id}.csv" %> |
          <%= link_to "Results", "/output/campaign_bulk_output_#{@campaign_bulk_buster.id}.csv" %>
        </div>
      </div>
      <div class="hulk_background">
        <div class="tile">
          <div class="inner">
          <p>
            <%= f.label :success_count, "Campaigns Created Successfully: " %> <span class="success_color"> <%= "#{@success_count}" %> </span> <br/>
           </p>
            <p>
              <%= f.label :failure_count, "Campaigns Failed to be Created: " %> <span class="failure_color"> <%= "#{@failure_count}" %> </span> <br/>
            </p>
            <p>
              <%= f.label :failure_count, "Total Run Time: " %> <span class="success_color"> <%= "#{@campaign_bulk_buster.total_run_time}" %> </span> <br/>
            </p>
            <br/>
            </div>
        </div>
      </div>
    </section>
  <% end %>
